<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include templates/basic_scripts.ejs %>
</head>
<body>

<% include templates/navbar.ejs %>

<div class="container bootstrap">
    <h2 align="center"><%=condition%></h2>
    <%if(condition==="POSTED"){%>
    <%- include("templates/post.ejs", {post: "", currentUser: currentUser, isInputCard:true}) %>
    <%}%>

    <% posts.forEach(function(task){ %>
        <%- include('templates/post.ejs', {post: task, currentUser: currentUser, isInputCard:false, condition: condition}) %>
    <% }); %>
</div>
</body>
<script>
    ajReq = new XMLHttpRequest();

    ajReq.onreadystatechange = function () {
        if (ajReq.readyState === 4 && ajReq.status === 200) {
            location.reload();
            console.log("time to refresh");
        }
    };


    ajSend = new XMLHttpRequest();
    ajSend.onreadystatechange = function () {
        if (ajSend.readyState !== 4 && ajSend.status === 200) {
            requestData("/home");
            /*switch(ajSend.responseURL){
                case "/like":
                    if(ajReq.responseText === "success"){

                    }
                    break;
                case "/add":
                    break;
                default:
                    break;
            }*/
        }
    };

    function sendDataToServer(input, api, contentType) {
        ajSend.open('POST', api);
        ajSend.setRequestHeader("Content-Type", contentType);
        ajSend.send(input);
    }

    function requestData(api) {
        ajReq.open("GET", api);
        ajReq.send();
        console.log("called " + api + ": waiting for m_data...");
    }

    function requestJob(tid) {
        console.log("Requesting job");
        var dataToSend = {tid: tid};
        sendDataToServer(JSON.stringify(dataToSend), '/home/requestjob', 'application/json');
    }

    function messageBoss(tid) {
        console.log("message the boss");
        sendDataToServer(JSON.stringify(dataToSend), '/home/newtask', 'application/json');
    }

    function submitNewTask(uid){
        var reward_input = document.getElementById("task-compensation-input");
        var new_instructions = document.getElementById("instructions-text-area");
        var dataToSend = {uid: uid, reward_input: reward_input.value, new_instructions: new_instructions.value};
        console.log(JSON.stringify(dataToSend));
        sendDataToServer(JSON.stringify(dataToSend), '/home/newtask', 'application/json');
    }

    function acceptPending(uid){
        var reward_input = document.getElementById("task-compensation-input");
        var new_instructions = document.getElementById("instructions-text-area");
        var dataToSend = {uid: uid, reward_input: reward_input.value, new_instructions: new_instructions.value};
        console.log(JSON.stringify(dataToSend));
        sendDataToServer(JSON.stringify(dataToSend), '/home/accept_pending', 'application/json');
    }

    function requestPending(uid){
        var reward_input = document.getElementById("task-compensation-input");
        var new_instructions = document.getElementById("instructions-text-area");
        var dataToSend = {uid: uid, reward_input: reward_input.value, new_instructions: new_instructions.value};
        console.log(JSON.stringify(dataToSend));
        sendDataToServer(JSON.stringify(dataToSend), '/home/request_pending', 'application/json');
    }
</script>
</html>
