<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include templates/basic_scripts.ejs %>
</head>
<body>

<% include templates/navbar.ejs %>

<div class="container bootstrap">
    <%- include("templates/post.ejs", {post: "", currentUser: currentUser, isInputCard:true}) %>

    <% posts.forEach(function(task){ %>
        <%- include('templates/post.ejs', {post: task, currentUser: currentUser, isInputCard:false}) %>
    <% }); %>
</div>
</body>
<script>
    ajReq = new XMLHttpRequest();

    ajReq.onreadystatechange = function () {
        if (ajReq.readyState === 4 && ajReq.status === 200) {
        }
    };


    ajSend = new XMLHttpRequest();
    ajSend.onreadystatechange = function () {
        if (ajSend.readyState !== 4 && ajSend.status === 200) {
            requestData("/home");
            /*switch(ajSend.responseURL){
                case "/like":
                    if(ajReq.responseText === "success"){

                    }
                    break;
                case "/add":
                    break;
                default:
                    break;
            }*/
        }
    };

    function sendDataToServer(input, api, contentType) {
        ajSend.open('POST', api);
        ajSend.setRequestHeader("Content-Type", contentType);
        ajSend.send(input);
    }

    function requestData(api) {
        ajReq.open("GET", api);
        ajReq.send();
        console.log("called " + api + ": waiting for m_data...");
    }
    
    function requestJob() {
        console.log("Requesting job");
    }
    
    function submitNewTask(uid){
        var reward_input = document.getElementById("task-compensation-input");
        var new_instructions = document.getElementById("instructions-text-area");
        var dataToSend = {uid: uid, reward_input: reward_input.value, new_instructions: new_instructions.value};
        sendDataToServer(JSON.stringify(dataToSend), 'submitNewTask', 'application/json');
    }
    
    function messageBoss() {
        console.log("message the boss");
    }
</script>
</html>
