<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <% include templates/basic_scripts.ejs%>
    </head>
    <body>

    <% include templates/navbar.ejs%>

    <div class="container bootstrap">
        <h1><%= title %></h1>
        <p>Welcome <%= name %></p>
    </div>
  </body>
</html>
