<label for="usrn"><b>Username</b></label>
<input type="text" placeholder="Enter Username" id="usrn" required>

<label for="psrd"><b>Password</b></label>
<input type="password" placeholder="Enter Password" id="psrd" required>
<div class="button-container">
    <button id="loginButton" class="button-container-items" type="button"  onclick="login()">Login</button>
</div>