<div class="nav-bar">
    <ul class="nav-list">
        <li><a id="app-name" href="/home">APP NAME</a></li>
        <li class="links"><a href="/home">Home</a></li>
        <li class="links"><a href="/home/pending">Pending</a></li>
        <li class="links"><a href="/home/active_tasks">Active Tasks</a></li>
        <li class="links"><a href="/home/complete">Completed</a></li>
        <li class="links"><a href="/home/paid">Paid</a></li>
        <li class="right links"><a class="active" href="/logout">Logout</a></li>
    </ul>
</div>