<label for="fullname"><b>Full Name</b></label>
<input type="text" placeholder="Enter Full Name" id="fullname" required>
<label for="username"><b>Username</b></label>
<input type="text" placeholder="Enter Username" id="username" required>

<label for="password"><b>Password</b></label>
<input type="password" placeholder="Enter Password" id="password" required>
<label for="psrd-cfrm"><b>Password Confirmation</b></label>
<input type="password" placeholder="Enter Password Confirmation" id="psrd-cfrm" required>
<label for="email-in"><b>Email Address</b></label>
<input type="text" placeholder="Enter Email Address" id="email-in" required>
<label for="phone-in"><b>Phone Number</b></label>
<input type="text" placeholder="Enter Phone Number" id="phone-in" required>
<label for="venmo-in"><b>Enter Venmo Username</b></label>
<input type="text" placeholder="Enter Venmo Username" id="venmo-in" required>

<div class="button-container">
    <button class="button-container-items" type="button" onclick="register()" class="password" id="register-button">Register</button>
</div>